<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylsheet" href="{ STATIC_URL }}style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="">
  <header class="">
    <div>
      <h3 class="">ToDo</h3>
      <nav class="">
        <a class="" href="{% url 'main' %}">Home</a>
        <a class="" href="{% url 'about' %}">About</a>
        <a class="" href="">Profil</a>
      </nav>
    </div>
  </header>



  <footer class="">
    <h4 ><a href="https://github.com/Vlad-stackover">My GitHub</a></h4>
  </footer>
</div>
{% block content %}{% endblock %}



</body>
</html>