{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<main class="">
  <br>
  <h2>Your Task.</h2>

    <p class="">
        <br>
      <a href="#" class="">Learn more</a>
    </p>

</main>
<br>
<p class="">Create your Task and folow it. Set up Time to finish task, add to favorites.</p>
<table>
  <tr>
    <th>Item</th>
  </tr>
  {% for elements in Task %}
  <tr>
    <td>{{elements.title}}</td>
  </tr>
  {% empty %}
  <h3>No items in list</h3>
  {% endfor %}
</table>

{% endblock %}
